<h1><span data-i18n="skills.my_skills">Hi!</span></h1>

<div>
    My name is Nikita. I'm a Software Engineer living in Boston, MA. <br>
    I started doing Software in <strong>2014</strong> and since then completed a lot of projects.<br>
    In <strong>2017</strong> I did a full-time internship in <a href="natera.com">Natera</a> and gained valuable experience of teamwork and software development life cycle. <br>
    In <strong>2019</strong> I graduated from <a href="http://english.spbu.ru/">SPBU</a> with my Bachelor's degree in Math and Computer Science. <br>
    <br>
    <a href="{{site.url}}/assets/Nikita-Korobkov.pdf">PDF version of this CV</a>


</div>