<h1><span data-i18n="skills.my_skills">Hi!</span></h1>

<div>
    My name is Nikita. I'm a Software Engineer living in Boston, MA. <br>
    <br>
    I'm focused on learning fast, communicating efficiently in a team and producing high-quality software. <br>
    <br>
    Now working at Audible, making the best possible search for audiobook lovers.
    <div id="more" style="display: none">
        I started doing Software in <strong>2015</strong> and since then completed a lot of <a href="projects/">projects.</a><br>
        In <strong>2017</strong> I did a full-time internship in <a href="https://natera.com" target="_blank">Natera</a> and gained valuable experience of teamwork and software development life cycle. <br>
        In <strong>2019</strong> I graduated from <a href="http://english.spbu.ru/" target="_blank">SPBU</a> with my Bachelor's degree in Math and Computer Science. <br>
        <br>
    </div>
    <!--<a class="btn" href="{{site.url}}/assets/Nikita-Korobkov.pdf">PDF version of this CV</a>-->
</div>