<h1><span data-i18n="skills.my_skills">Featured Projects</span></h1>

{% for project in site.data.index.projects %}
{% if project.featured %}
    <div class="row">
            <div class="col">
                <hr>
                <a class="project-name" href="{{site.url}}/projects/{{ project.description-link }}">{{ project.name }}</a>
                {% if project.github %}
                <a class="btn-small" href="{{ project.github }} " target="_blank"><i class="fa fa-fw fa-github"></i>GitHub</a>
                {% endif %}
                {% if project.description-link %}
                <a class="btn-small" href="{{site.url}}/projects/{{ project.description-link }} "><i class="fa fa-fw fa-file-text-o"></i>Description</a>
                {% endif %}
                {% if project.website %}
                <a class="btn-small" href="{{ project.website }} " target="_blank"><i class="fa fa-fw fa-home"></i>Homepage</a>
                {% endif %}
                <br style="clear:both;"/>
                <p style="margin: 0">{{ project.descr }}</p>
                <div class="skills">
                    <div class="skillset" style="padding-left: 0">
                        {% for skill in project.skills %}
                        <span class="skill-add">{{skill}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
{% endif %}
{% endfor %}
<hr>
<a class="btn" href="{{site.url}}/projects" style="font-size:1.2em; width:100%; text-align: center">More projects</i></a>