.image_col-2 {
  float: left;
  width: 50%;
  padding: 10px;
}

.image_col-3 {
  float: left;
  width: 33%;
  padding: 10px;
}

.image_col-5 {
  float: left;
  width: 20%;
  padding: 6px;
}


.image_col-6 {
  float: left;
  width: 16%;
  padding: 3px;
}

.image_row::after {
  content: "";
  clear: both;
  display: table;
}

.pic-title{

  color: $secondary;
  font-size: 150%;
  font-style: italic;
  width: 100%;
  align-content: center;
  font-weight: 600;
}